main {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

main > form {
  display: flex;
  justify-content: center;
  margin: 1em;
  gap: 0.5em;
}

table {
  border-collapse: collapse;
}

thead td {
  text-align: center;
  background-color: #555;
  color: white;
}

td {
  border: solid 1px black;
  padding: 0.2em 1em 0.2em 1em;
}

form {
  margin-block-end: 0;
}

input {
  padding: 0.5em;
}

h1 {
  text-align: center;
}
